.indigo{color:#002133 !important}
.crust{color:#EAE2B7 !important}
.mustard{color:#FCBF49 !important}

* {
    background: #003049; 
    color: whitesmoke; 
    font-family: 'Raleway', sans-serif;
}

.smaller {
    font-size: medium;
  }

    * {
        box-shadow: none; 
    }

._image {
    background: none !important;
    border: none !important;
}

.full {
    max-width: 100% !important;
    max-height: 100% !important;
}

.small-font {
    font-size: 80% !important;
}

.very-small-font {
    font-size: 60% !important;
}

.my-image-white-bg {
    background: white !important;
    border: none !important;
}